<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>ClockIn</title>

    <link href="stylesheets/main.css" rel="stylesheet" type="text/css">

    <script src="helpers/context_menu.js"></script>
    <script src="helpers/external_links.js"></script>

    <script src="libs/vue.min.js"></script>
    <script src="app.js"></script>
</head>
<body>

    <section class="header text-center clearfix">
        ClockIn
        <!--<button class="pull-left text-bold">Menu</button>-->
        <button class="pull-right fa fa-remove btn-close"></button>
        <button class="pull-right fa fa-cog btn-settings"></button>
    </section>

    <menu class="nav-horizontal top-menu">
        <button class="btn btn-new-task" style="flex-grow: 2"><i class="fa fa-plus"></i> New task</button>
        <button class="btn btn-stop-tasks" title="Stop all tasks"><i class="fa fa-stop"></i></button>
        <button class="btn btn-reset-tasks" title="Reset all task timers"><i class="fa fa-clock-o"></i></button>
        <button class="btn btn-clear-tasks" title="Remove all tasks"><i class="fa fa-ban"></i></button>
    </menu>

    <section class="task-list">
        <table>
            <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th>Task</th>
                    <th>Time</th>
                    <th>Est.</th>
                </tr>
            </thead>

            <tbody v-for="(task, index) in tasks">
                <tr v-if="!task.hidden" v-bind:index="index" class="task-item" v-bind:class="{ active: active == index }" v-on:dblclick="toggle(index)">
                    <td>
                        <i v-if="task.active" v-on:click="stop()" class="fa fa-circle-o-notch fa-spin btn-task-stop" title="Stop task"></i>
                        <i v-if="!task.active" v-on:click="start(index)" class="fa fa-play btn-task-start" title="Start task"></i>
                    </td>
                    <td>{{ task.title }}</td>
                    <td>{{ task.spent }}</td>
                    <td>{{ task.estimate }}</td>
                </tr>
            </tbody>
        </table>
    </section>

</body>
</html>
