.text-center {
    text-align: center;
}
.text-bold {
    font-weight: bold;
}
.text-italic {
    font-style: italic;
}

.pull-left {
    float: left;
}
.pull-right {
    float: right;
}

.clearfix {
    &:after {
        content: ' ';
        clear: both;
    }
}
