@import '_util';
@import 'font-awesome/font-awesome';

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 15px;
    overflow: hidden;
}

* {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
}
::-webkit-scrollbar-thumb {
    background-color: #ddd;
    border-radius: 5px;
}

a {
    text-decoration: none;
}

.header {
    width: 100%;
    background: #fff linear-gradient(to bottom, #ddd, #fff);
    -webkit-app-region: drag;
    overflow: hidden;
    height: 30px;
    line-height: 30px;

    button {
        -webkit-app-region: no-drag;
        height: 26px;
        padding: 0 6px;
        border: 1px #bbb solid;
        background: #eee linear-gradient(to bottom, #f8f8f8, #ccc);
        outline: none;
        border-radius: 3px;
        margin: 1px;

        &:active {
            background: #eee linear-gradient(to top, #f8f8f8, #ccc);
        }
    }
}

.nav-horizontal {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 20px;

    button, input[type=button], input[type=submit] {
        flex: 1 1 auto;
        border: 1px #ddd solid;
        padding: 6px 10px;
        background: #fff linear-gradient(to bottom, #fff, #eee);
        cursor: default;
        outline: none;
        font-size: 15px;
        line-height: 110%;

        transition: box-shadow 0.3s;

        &:hover, &:focus {
            box-shadow: 0 0 8px #bbb;
        }

        &:active {
            background: #eee linear-gradient(to top, #f8f8f8, #ccc);
        }

        &:first-child {
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            padding-left: 15px;
        }
        &:last-child {
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            padding-right: 15px;
        }
    }
}

.task-list {
    margin: 10px;
    position: absolute;
    top: 90px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: auto;

    table {
        width: 100%;
        table-layout: fixed;
        border-spacing: 0;
        border-collapse: separate;

        tr.active {
            td {
                background-color: #ffd;
            }

            td:nth-child(2):after {
                background-image: linear-gradient(to right, rgba(255, 255, 255, 0), #ffd);
            }
        }

        td, th {
            text-align: left;
            padding: 8px 0;
            border-bottom: 1px #ddd dashed;

            width: 70px;
            text-align: right;

            cursor: default;

            &:nth-child(1) {
                width: 25px;
                text-align: left;
            }

            &:nth-child(2) {
                white-space: nowrap;
                overflow: hidden;
                position: relative;

                text-align: left;
                width: auto;

                &:after {
                    content: ' ';
                    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), #fff);
                    position: absolute;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    width: 50px;
                }
            }
        }

        thead {

            th {
                font-weight: bold;
            }
        }
    }

    .btn-task-start {
        cursor: pointer;
        color: #ccc;
    }
    .btn-task-stop {
        cursor: pointer;
    }
}

.edit-form {
    margin: 10px 20px;

    div {
        display: flex;
        flex-direction: row;

        input[type=text] {
            display: block;
            padding: 8px 0;
            flex: 1 1 auto;
            margin: 5px;
            min-width: 0;
            border: none;
            outline: none;
            border-bottom: 1px #ddd solid;

            &:focus {
                border-color: #888;
            }
        }
    }
}
